.grid-container {
    padding: 20%;
    display: grid;
    grid-template-areas:
        "name middleName"
        "lastName secondLastName"
        "building apartment";
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-row-gap: 10px;
    /* place-items: center; */
}

.name {
    grid-area: name;
}

.middleName {
    grid-area: middleName;
}

.lastName {
    grid-area: lastName;
}

.secondLastName {
    grid-area: secondLastName;
}

.building {
    grid-area: building;
}

.apartment {
    grid-area: apartment;
}

.register-btn {
    display: flex;
    justify-content: center !important;
    text-align: center !important;
}